*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("fondo.png");
    background-size: 100% 130%;
}
.Registro-Encuesta{
    width: 400px;
    background:#b42538 ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: rgb(255, 255, 255);
    box-shadow: 7px 13px 37px #000;
    }

    .Registro-Encuesta h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    }
    .controles{
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #08660d;
    font-family: "calibri";
    font-size: 18px;
    color: black;
    } 
    .Registro-Encuesta p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    }
    .Registro-Encuesta a{
    color: #ffffff;
    text-decoration: none;
    }
    .Registro-Encuesta a:hover{
    color: #ffffff;
    text-decoration: underline;
    }
    
    .formulario__grupo-input{
	position: relative;
    }

.formulario__input{
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus{
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error{
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo{
	display: block;
}

.formulario__validacion-estado{
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox{
	margin-right: 10px;
    text-align: center;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar{
	grid-column: span 2;
}

.formulario__mensaje{
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo{
	display: block;
}

.formulario__mensaje p{
	margin: 0;
}

.formulario__grupo-btn-enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn{
	width: 100%;
    background: #551313;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin:16px 0;
    font-size:16px;
    cursor: pointer;
}

.formulario__btn:hover{
    background: #ac2128;
}

.formulario__mensaje-exito{
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo{
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_grupo-correcto .formulario_validacion-estado{
	color: #1ed12d;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label{
	color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado{
	color: #bb2929;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input{
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px){
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar{
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}